<div class='row container'>
  <form [formGroup]="$any(passwordUpdateForm)" (ngSubmit)="passwordUpdateForm.valid && changePassword()" autocomplete="off">
    <h2 class="text-center text-info">Change Password</h2>
    <hr>
    <div class="form-group">

      <app-text-input
        [formControl]='$any(passwordUpdateForm.controls)["email"]'
        [label]='"Email Address"'
        [type]='"email"'>
      </app-text-input>
      <app-text-input
        [formControl]='$any(passwordUpdateForm.controls)["currentPassword"]'
        [label]='"Current Password"'
        [type]='"password"'>
      </app-text-input>
      <app-text-input
        [formControl]='$any(passwordUpdateForm.controls)["newPassword"]'
        [label]='"New Password"'
        [type]='"password"'>
      </app-text-input>
      <app-text-input
        [formControl]='$any(passwordUpdateForm.controls)["confirmPassword"]'
        [label]='"Confirm Password"'
        [type]='"password"'>
      </app-text-input>

      <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
          <li *ngFor="let error of validationErrors">{{error}}</li>
        </ul>
      </div>

      <div class="form-group text-center">
        <button
          [disabled]="!passwordUpdateForm.valid"
          mat-raised-button
          color='primary'
          class="mr-2" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
