.card {
  border: none;
}

.chat {
  list-style: disc;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted rgb(116, 111, 116);
}

.rounded-circle {
  max-width: 50px;
}

.send-message-button{
  max-height: 45%;
  max-width: 50%;
  width: 100%;
  float: right;
}

.text-enter-field{
  width: 80%;
}

