.card {
  border: none;
}

.chat {
  list-style: disc;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted rgb(210, 212, 189);
}

.rounded-circle {
  max-width: 50px;
}

.send-message-button{
  max-height: 40px;
  width: 100%;
}

.text-enter-field{
  width: 85%;
}

