<div class="row">
  <table class="table table-hover table-striped table-bordered">
    <thead class='thead-light'>
      <tr>
        <th style="width: 25%;">Username</th>
        <th style="width: 25%;">Known As</th>
        <th style="width: 40%;">Active Roles</th>
        <th style="width: 10%;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.knownAs}}</td>
        <td>{{user.roles}}</td>
        <td><button (click)='openRolesModal(user)' mat-raised-button color='default'>Edit Roles</button></td>
      </tr>
    </tbody>
  </table>
</div>
