<div class="text-center mt-3">
  <h2>Your matches - {{pagination?.totalItems}} found</h2>
</div>

<div class="container mt-3">

  <form #form='ngForm' class='form-inline mb-3' (ngSubmit)='loadMembers()' autocomplete="off">

    <div class="form-group">
      <mat-form-field class="input-number-form" appearance="fill">
        <mat-label>Min. Age</mat-label>
        <input matInput placeholder="18" name='minAge' [(ngModel)]="userParams.minAge" type='number'>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="input-number-form ml-2" appearance="fill">
        <mat-label>Max. Age</mat-label>
        <input matInput placeholder="99" name='maxAge' [(ngModel)]="userParams.maxAge" type='number'>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class='select-gender-form ml-4' appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="userParams.gender" name="gender">
            <mat-option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="select-member-perpage-form ml-4" appearance="fill">
        <mat-label>Members per page</mat-label>
        <mat-select [(ngModel)]="userParams.pageSize" name="pageSize">
            <mat-option *ngFor="let pageSize of pageSizeList" [value]="pageSize">{{pageSize}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button color='primary' class='ml-4' type="submit">Apply filter</button>
    <button (click)='resetFilters()' mat-raised-button color='accent' class="ml-1" type='button'>Reset filter</button>



    <div class="col">
      <div class="btn-group float-right">
        <button
          class="btn btn-outline-secondary"
          name='orderBy'
          (click)='loadMembers()'
          [(ngModel)]="userParams.orderBy"
          btnRadio='lastActive'
          >Last Active
        </button>
        <button
          class="btn btn-outline-secondary"
          name='orderBy'
          (click)='loadMembers()'
          [(ngModel)]="userParams.orderBy"
          btnRadio='created'
          >Newest Members
        </button>
      </div>
    </div>

  </form>
</div>

<div class="row">
  <div class="col-2" *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
