<div class="row mb-4">
  <div class="btn-group">
    <button
      mat-raised-button
      color='accent'
      class=""
      btnRadio='Unread'
      [(ngModel)]="container"
      (click)="loadMessages()">
      <i class="fa fa-envelope">Unread</i>
    </button>
    <button
      mat-raised-button
      color='primary'
      class="ml-2"
      btnRadio='Inbox'
      [(ngModel)]="container"
      (click)="loadMessages()">
      <i class="fa fa-envelope-open">Inbox</i>
    </button>
    <button
      mat-raised-button
      color='default'
      class="ml-2"
      btnRadio='Outbox'
      [(ngModel)]="container"
      (click)="loadMessages()">
      <i class="fa fa-paper-plane">Outbox</i>
    </button>
  </div>
</div>

<div class="row" *ngIf="messages?.length === 0"><h3>No messages</h3></div>

<div [hidden]="loading" class="row" *ngIf="messages?.length > 0">
  <table class="table table-hover" style='cursor: pointer;'>
    <tr>
      <th style='width: 40%;'>Message</th>
      <th style='width: 20%;'>{{container == 'Outbox' ? 'To' : 'From'}}</th>
      <th style='width: 20%;'>{{container == 'Outbox' ? 'Sent' : 'Received'}}</th>
      <th style='width: 20%;'>Delete</th>
    </tr>
    <tr *ngFor="let message of messages"
      routerLink='/members/{{container == "Outbox"
        ? message.recipientUsername
        : message.senderUsername }}'
        [queryParams]='{tab:3}'>
        <td>{{message.content}}</td>
        <td>
          <div *ngIf='container === "Outbox"'>
            <img
              src="{{message.recipientPhotoUrl || './assets/user.png'}}"
              alt="{{message.recipientUsername}}"
              class="img-circle rounded-circle mr-2">
            <strong>{{message.recipientUsername | titlecase}}</strong>
          </div>
          <div *ngIf='container !== "Outbox"'>
            <img
              src="{{message.senderPhotoUrl || './assets/user.png'}}"
              alt="{{message.senderUsername}}"
              class="img-circle rounded-circle mr-2">
            <strong>{{message.senderUsername | titlecase}}</strong>
          </div>
        </td>
        <td>{{message.messageSent | timeago}}</td>
        <td>
          <mat-checkbox
            [(ngModel)]="message.isToDelete"
            name="isToDelete"
            color="warn"
            (click)='$event.stopPropagation()'
            >
          </mat-checkbox>
        </td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td>
        <button
          mat-mini-fab
          color='warn'
          (click)='deleteMessages()'
          ><mat-icon class="mat-18">delete</mat-icon></button>
      </td>
    </tr>
  </table>
</div>

<div class="d-flex justify-content-center" *ngIf="messages?.length > 0 && pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
