<div class="container mt-5">
  <div style="text-align: center;" *ngIf="!registerMode">
    <h1>Welcome to {{title}}!</h1>
    <p class="lead">Sign up and enjoy the community</p>
    <div class="text-center">
      <button mat-raised-button color='primary' (click)="registerToggle()" class="mr-2">Register</button>
    </div>
  </div>

  <div class="container" *ngIf="registerMode">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
          ></app-register>
      </div>
    </div>
  </div>
</div>
